/* Common Style Section */
:root {
  --primary-color: #b68c5a;
  --primary-text-color: #414040;
  --secondary-text-color: #707070;
  --card-bg-color: #f3f3f3;
}

* {
  font-family: "Poppins", sans-serif;
}
h1 {
  font-family: "EB Garamond", serif;
  font-size: 3.5rem;
}
h2,
h3,
h4,
h5,
h6 {
  font-family: "EB Garamond", serif;
  color: var(--primary-text-color);
}
p,
input {
  color: var(--secondary-text-color);
}

.primary-btn {
  color: white;
  background: var(--primary-color);
  font-size: 18px;
  font-weight: 500;
}

/* Navigation Section */
.navbar-brand {
  color: var(--primary-text-color);
  font-family: "EB Garamond", serif;
  font-size: 35px;
}
.nav-link {
  color: var(--secondary-text-color) !important;
}

/* Banner Section */
#banner {
  background-image: url("images/Rectangle-5.png"), url("images/banner.png");
  background-repeat: no-repeat;
  background-size: cover;
}
